
<ion-header [translucent]="true" >
  <ion-toolbar color="primary">
    <ion-title>
      Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-wrap">
    <ion-label>Company name <span style="color: red;">*</span></ion-label>
    <ion-input type="text" class="input-champ"></ion-input>
    <ion-label>Login <span style="color: red;">*</span></ion-label>
    <ion-input type="text" class="input-champ"></ion-input>
    <ion-label>Password <span style="color: red;">*</span></ion-label>
    <ion-input  expand="block" type="password" class="input-champ"></ion-input>
    <div class="bloc-left50">
      <ion-label>Localisation</ion-label>
      <ion-thumbnail>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
    </div>
    <!-- /.bloc-left50 -->
    <div class="bloc-left50">
      <ion-label>Avatar</ion-label>
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
    </div>
    <!-- /.bloc-left50 -->
    <div class="clear"></div>
    <ion-button color="primary" expand="block">Save</ion-button>
  </div>
  
    
  
</ion-content>
