<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button
    class="ion-padding"
    color="primary"
    expand="full"
    (click)="change()"
    >{{user}}</ion-button
  >

  <ion-item *ngIf="(user=='client')" class="ion-padding">
    <ion-label position="floating">client pull</ion-label>
    <ion-input type="email" required [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item *ngIf="(user!='client')" class="ion-padding">
    <ion-label position="floating">magasin user</ion-label>
    <ion-input type="email" required [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item class="ion-padding">
    <ion-label position="floating">mot de passe</ion-label>
    <ion-input type="password" [(ngModel)]="password" required></ion-input>
  </ion-item>
  <ion-button
    class="ion-padding"
    color="primary"
    expand="full"
    (click)="login()"
    >login</ion-button
  >

  <ion-button
    class="ion-padding"
    color="light"
    expand="full"
    [routerLink]="['/register']"
  >
    Register
  </ion-button>
</ion-content>
