<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrap">
    <ion-label>Company name <span style="color: red;">*</span></ion-label>
    <ion-input type="text" class="input-champ" [(ngModel)]="username"></ion-input>
    <ion-label>Password <span style="color: red;">*</span></ion-label>
    <ion-input  expand="block" type="password" class="input-champ" [(ngModel)]="password"></ion-input>
    <br>
    <ion-button color="success btn-send" expand="block" (click)="login()">Login</ion-button>
  </div>
  
</ion-content>
