<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--<div class="content-wrap">
    <ion-segment (ionChange)="segmentChanged($event)" value="merchant" [(ngModel)]="type">
      <ion-segment-button value="merchant">
        <ion-label>Merchant</ion-label>
      </ion-segment-button>
      <ion-segment-button value="client">
        <ion-label>Client</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>-->
  <ion-item class="ion-padding text-center">
    <ion-label position="floating">name</ion-label>
    <ion-input type="email" [(ngModel)]="username" required></ion-input>
  </ion-item>
  <ion-item class="ion-padding text-center">
    <ion-label position="floating">mot de passe</ion-label>
    <ion-input type="password" [(ngModel)]="password" required></ion-input>
  </ion-item>
  <div class="content-wrap">

    <ion-button color="tertiary btn-send" expand="block" (click)="login()">Login</ion-button>

    <ion-button color="success btn-send" expand="block" [routerLink]="['/register']">Register</ion-button>
  </div>

</ion-content>